<template name="editMeeting">
    {{> errors}}
  <form class="main">
    <div class="control-group">
        <label class="control-label" for="name">Name</label>
        <div class="controls">
            <input name="name" type="text" value="{{name}}" placeholder="Meeting Name"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="meetingCode">Meeting Code</label>
        <div class="controls">
            <input name="meetingCode" type="text" value="{{meetingCode}}" placeholder="Unique Meeting Code"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="instructions">Instructions</label>
        <div class="controls">
            <input name="instructions" type="text" value="{{instructions}}" placeholder="Instructions/Notes for winner"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="location">Location</label>
        <div class="controls">
            <input name="location" type="text" value="{{location}}" placeholder="Meeting Location"/>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>
    </div>
  </form>
</template>