<template name="meetingPage">
	<div class="meeting">
		<div class="meeting-content">
			<h4>{{name}} <small>{{meetingCode}}</small></h4>
			<span class="span2"> Attendees: {{attendeeCount}}</span>
			<a href="#" class="open-meeting btn btn-mini">{{openMeetingText}}</a>
		</div>
	</div>
	<div class="attendees">
		{{#each attendees}}
		<div class="attendee span5">
			<strong>{{userName}}</strong> {{userEmail}}
			<button type="button" class="remove-attendee close">x</button>
		</div>
		{{/each}}
	</div>
</template>