<template name="meetingPage">
    {{> errors}}
	<div class="meeting">
		<div class="meeting-content">
			<div class="btn-group pull-right">
				<a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
					Tools
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="#" class="open-meeting">{{openMeetingText}}</a>
					</li>
					<li>
						<a href="#" class="archive-meeting">{{activeMeetingText}}</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="{{pathFor 'editMeeting'}}" class="edit-meeting">Edit</a>
					</li>
					<li>
						<a href="#" class="delete-meeting">Delete</a>
					</li>
				</ul>
			</div>
			<span style="color: red">{{meetingActiveStatus}}</span>
			<h4>{{name}} <small>{{meetingCode}}</small></h4>
			<span class="span2">{{meetingOpenStatus}}</span>
			<span class="span2"> Attendees: {{attendeeCount}}</span>
			<span class="span5">Location: {{location}}</span>
			<span class="span7">Instructions: {{instructions}}</span>
			<button type="button" class="btn btn-large pick-winner-btn">Pick a Winner</button>
		</div>
	</div>
	<div class="attendees">
		{{#each attendees}}
		<div class="attendee span5 {{winnerClass}}">
			<strong>{{userName}}</strong> {{userEmail}}
			<button type="button" class="remove-attendee close">x</button>
		</div>
		{{/each}}
	</div>
</template>
