<template name="header">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="{{pathFor 'home'}}">You Won Swag!</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a href="{{pathFor 'about'}}">About</a></li>
            {{#if currentUser}}
            <li><a href="{{pathFor 'meetingsList'}}">Meetings</a></li>
            <li><a href="{{pathFor 'meetingsJoin'}}">Join Meeting</a></li>
            <li class="dropdown">
              {{> notifications}}
            </li>
            {{/if}}
          </ul>
          <ul class="nav pull-right">
            <li>{{loginButtons}}</li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
 </template>