<template name="home">
	<div class="home">
		<div class="home-main span6">
		<h2>Welcome to YouWonSwag.</h2>
		<p>Create meetings, have people join the meeting, 
			then you can start picking winners.</p>
		</div>
		<div class="home-instructions span3">
			<p>First you need to create an account, by clicking the Sign In/Up link at the top.<p>
			<p>If you want to start a meeting click the Meeting link and make a meeting.</p>
			<p>Joining a meeting? Click the Join Meeting link.</p>
		</div>
	</div>
</template>