<template name="about">
	<div class="about">
		<h2>About YouWonSwag! <small><a href="http://github.com/bshardi">by bArt</a></small></h2>
		<h4>My idea for meetups that give out good swag.</h4>
		<p>I have two goals, learn about <a href="http://www.meteor.com">meteorjs</a> and create a small web application. Maybe three, have a little fun too. This is what I came up with. It is a simple web app where you can create a meeting, then users can join the meeting and you can pick random winners.</p>
		<p>This is a work in progress. The code for this app is currently available on <a href="http://github.com/bshardi/youwonswag">github</a>. Have fun.</p>
	</div>
</template>