html,body {
	height: 100%;
}

#wrap {
	min-height: 100%;
	height: auto;
	height: 100%;
	margin: 0 auto -60px;
}

#yield {
	margin-top: 60px;
}

#push{
	height: 60px;
}

#footer {
	background-color: #f5f5f5;
	height: 60px;
}

.credit{
	margin: 20px 0;
}

.home-main{
	border-radius: 8px;
	background: whitesmoke;
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	padding: 10px;
	min-height: 200px;
}

.home-instructions{
	border-radius: 8px;
	background: whitesmoke;
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	padding: 10px;
	min-height: 200px;
}

.about{
	border-radius: 8px;
	background: whitesmoke;
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	padding: 10px;
}

.meeting{
	border-radius: 8px;
	background: whitesmoke;
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 10px;	
}

.attendee{
	border-radius: 8px;
	background: lightgrey;
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	padding: 10px;
	margin-top: 8px;	
}

.winner{
	background: darkseagreen;
}

.pick-winner-btn, .pick-winner-btn:hover{
	background: darkseagreen;
}

.dropdown-menu span {
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 20px;
    color: #bbb;
    white-space: nowrap;
}
