html,body {
	height: 100%;
}

#wrap {
	min-height: 100%;
	height: auto;
	height: 100%;
	margin: 0 auto -60px;
}

#yield {
	margin-top: 60px;
}

#push{
	height: 60px;
}

#footer {
	background-color: #f5f5f5;
	height: 60px;
}

.credit{
	margin: 20px 0;
}

.meeting{
	border-radius: 8px;
	background: whitesmoke;
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	padding: 10px;
	margin-top: 15px;	
}

.attendee{
	border-radius: 8px;
	background: lightgrey;
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	padding: 10px;
	margin-top: 8px;	
}

.winner{
	background: darkseagreen;
}
